form#new-product {
    position: fixed;
    top: 68px;
    width: 100%;
    right: calc((100% - 240px)/4);
    max-width: calc((100% - 240px)/2);
    margin: 30px auto 0;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    
    display: flex;
    flex-direction: column;
  }

  form#new-product input {
    margin-bottom: 10px;
  }

  form#new-product input[type=text] {
    height: 38px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 20px;
    font-size: 14px;
  }
  form#new-product button {
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
    background: #21CBF3;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  