.notfications-container{
    position: fixed;
    top: 15%;
    width: 100%;
    right: calc((100% - 240px)/8);
    max-width: calc((100% - 240px)/(8/6));
    padding: 50px;
    text-align: center;
}
.notfications-container ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}
.notfications-container ul li{
    background: rgb(78, 222, 255);
    border-radius: 3px 3px 3px;
    display: flex;
}
.notfications-container ul li footer{
    padding: 15px 20px;
    flex: 1;
    text-align: left;
}
.notfications-containerul li footer strong{
    font-size: 16px;
    color: #333;
}
.notfications-container ul li footer p{
    font-size: 14px;
    line-height: 20px;
    color: rgb(0, 82, 150);
    margin-top: 5px;
}